pyrogram
TgCrypto
py-Ultroid==2021.10.11.1
pytgcalls==3.0.0.dev19
python-dotenv
youtube_search_python==1.4.6
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg
Pillow
future
psutil
wget
yt_dlp
