pyrogram
TgCrypto
pytgcalls==3.0.0.dev19
python-dotenv
youtube_search_python==1.4.6
requests
aiohttp[speedups]
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg
Pillow
future
psutil
wget
yt_dlp
bs4
dnspython
SQLAlchemy

